<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641520795968-2sgc55q6m5khbe3fdames314nvlrvdr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641520795968-2sgc55q6m5khbe3fdames314nvlrvdr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAl1k7kTU5AL7a5y4qhSL_jHU6tFgarBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>641520795968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS.crotariv.covidApp</string>
	<key>PROJECT_ID</key>
	<string>carlos-rey-rivas</string>
	<key>STORAGE_BUCKET</key>
	<string>carlos-rey-rivas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641520795968:ios:25214ba74ea09f1c2bbaa5</string>
</dict>
</plist>